TAGS
*.swp
*~
*.o
*.log
*.vcd
*.xml
*.dbg
*.wlf
*.elf
*.hex
*.map
*.out
*.json
*.jou
*.str
.build-rtl
.lib-rtl
.opt-rtl
example_tb/core/xsim_results/
/build
/Bender.lock
/Bender.local
/cv32e40p.*
!cv32e40p.xpr
/.Xil
!/programs/*
!/cv32e40p.ip_user_files
!/cv32e40p.srcs
